@model MakeEvent.Web.Models.Admin.NewsMvcViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-block">
    @using (Html.BeginForm("Create", "News", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-horizontal col-md-offset-1">
            <div class="form-group">
                <div style="position: relative;">
                    <a class='btn  deep-purple lighten-' href='javascript:;'>
                        @Localization.BtnChoosePicture
                        <input type="file" name="Image" size="40"
                               style="position: absolute; z-index: 2; top: 0;
                               left: 0; filter: alpha(opacity=0); opacity: 0;
                               background-color: transparent; color: transparent;"
                               onchange='$("#upload-file-info").html($(this).val());'>
                        <span class="glyphicon glyphicon-paperclip"></span>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                @if (Model.ImageData == null || Model.ImageData.Length < 1)
                {
                    <div class="form-control-static">@Localization.LabelNoPicture</div>
                }
                else
                {
                    <img class="img-thumbnail" width="150" height="150"
                         src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)"/>
                }
            </div>

            <div class="row form-group">
                <div class="col s12" style="padding: 0;">
                    <ul class="tabs blue-text text-darken-2">
                        <li class="tab col s3">
                            <a class="active blue-text text-darken-2" href="#rusblock">@Localization.LangRu</a>
                        </li>
                        <li class="tab col s3">
                            <a class="blue-text text-darken-2" href="#enblock">@Localization.LangEn</a>
                        </li>
                    </ul>
                </div>
                <div id="rusblock" class="col s12" style="padding: 20px">
                    <div class="form-group">
                        <div class="input-field">
                            @Html.LabelFor(model => model.TitleRu)
                            @Html.EditorFor(model => model.TitleRu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleRu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            @Html.LabelFor(model => model.ShortDescriptionRu)
                            @Html.EditorFor(model => model.ShortDescriptionRu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShortDescriptionRu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            @Html.EditorFor(model => model.ContentRu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContentRu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="enblock" class="col s12" style="padding: 20px">
                    <div class="form-group">
                        <div class="input-field">
                            @Html.LabelFor(model => model.TitleEn)
                            @Html.EditorFor(model => model.TitleEn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleEn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            @Html.LabelFor(model => model.ShortDescriptionEn)
                            @Html.EditorFor(model => model.ShortDescriptionEn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShortDescriptionEn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            @Html.EditorFor(model => model.ContentEn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContentEn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn indigo darken-1 btn-sm btn-default">
                    @Localization.BtnSaveText
                    <span class="glyphicon glyphicon-send"></span>
                </button>
                <button class="btn deep-purple lighten-1  btn-sm btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    @Html.ActionLink(Localization.BtnBackText, "Index")
                </button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
</script>
