@model IEnumerable<MakeEvent.Web.Models.Organization.TicketCategoryMvcViewModel>
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<div class="main-page">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button class="btn  blue darken-3 btn-sm btn-default">
                        @Html.ActionLink(Localization.BtnEditText, "Edit", new { id = item.Id }) <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn deep-purple lighten-1  btn-sm btn-default">
                        @Html.ActionLink(Localization.BtnDetailsText, "Details", new { id = item.Id }) <span class="glyphicon glyphicon-list"></span>
                    </button>
                    <button class="btn pink lighten-1 btn-sm btn-default">
                        @Html.ActionLink(Localization.BtnDeleteText, "Delete", new { id = item.Id }) <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }
    </table>
</div>
