@model MakeEvent.Web.Models.Organization.SoldTicketMvcViewModel
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<div class="main-page">
    <table class="table highlight">
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.OwnerFirstName)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.OwnerFirstName)
            </td>
        </tr>
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.OwnerLastName)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.OwnerLastName)
            </td>
        </tr>
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.EventTitle)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.EventTitle)
            </td>
        </tr>
        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.BookDate)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.BookDate)
            </td>
        </tr>

        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.Cost)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.Cost)
            </td>
        </tr>

        <tr>
            <td>
                <label>@Html.DisplayNameFor(model => model.Status)</label>
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn deep-purple lighten-1  btn-sm btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            @Html.ActionLink(Localization.BtnBackText, "Index")
        </button>
    </div>
</div>