
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendo")

@Html.Partial("Partials/Layout")
@Html.Partial("Partials/Index")
@Html.Partial("Partials/About")
@Html.Partial("Partials/Contacts")
@Html.Partial("Partials/News")
@Html.Partial("Partials/Events")
@Html.Partial("Partials/Event")
@Html.Partial("Partials/Organizations")
@Html.Partial("Partials/Personal")
@Html.Partial("Partials/Register")
@Html.Partial("Partials/Organization")
@Html.Partial("Partials/NewsItem")
@Html.Partial("Partials/AdminPage")

@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Scripts/MainApp")

<script type="text/javascript">
    URLs = {
        // Администратор: Новости
        saveNews: '@Url.Content("~/api/news/save")',
        getNews:  '@Url.Content("~/api/news/all")',
        getNewsLocalization: '@Url.Content("~/api/news/getlocalization")',
        deleteNews: '@Url.Content("~/api/news/delete")',

        // Администратор:  Страницы
        savePageLocalization: '@Url.Content("~/api/page/savelocalization")',
        getPageLocalization: '@Url.Content("~/api/page/getlocalization")',

        // Администратор: Категории мероприятий
        saveEventCategory:  '@Url.Content("~/api/eventcategory/save")',
        getEventCategories: '@Url.Content("~/api/eventcategory/all")',
        getEventCategoryLocalization: '@Url.Content("~/api/eventcategory/getlocalization")',
        deleteEventCategory: '@Url.Content("~/api/eventcategory/delete")'
    };
 </script>

<div id="app"></div>