@model IEnumerable<MakeEvent.Web.Models.Organization.EventMvcViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
</div>
<div class="bannertext">
    <p>
        @Localization.BannerDescription
    </p>
    <div class="form-group">
        <button class="btn btn-80-15">@Localization.BannerStartText</button>
    </div>
    <div class="form-group">
        <button class="btn btn-80-15">@Localization.BannerHowItWorksText</button>
    </div>
</div>
<div class="events-wrapper">
    @foreach (var item in Model)
    {
        <div class="row col-md-4">
            <div>
                <div class="card hoverable">
                    @if (item.ImageData != null && item.ImageData.Length > 0)
                    {
                        <div class="card-image">
                            <img src="data:@item.ImageMimeType;base64,@Convert.ToBase64String(item.ImageData)"/>
                        </div>
                    }
                    <div class="card-content">
                        <label class="event-title">@Html.DisplayFor(m => item.Name)</label>
                        <p class="event-date">@Html.DisplayFor(m => item.StartDate)</p>
                        <p class="event-town">@Html.DisplayFor(m => item.City)</p>
                        <p class="event-description">@Html.DisplayFor(m => item.ShortDescripton)</p>
                    </div>
                    <div class="card-action">
                        <button class="btn deep-purple lighten-1  btn-sm btn-default">
                            @Html.ActionLink(Localization.BtnDetailsText, "Event", new {id = item.Id}, null) <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>