
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/KendoStyles")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendo")

@Html.Partial("Partials/Layout")
@Html.Partial("Partials/Index")
@Html.Partial("Partials/About")
@Html.Partial("Partials/Contacts")
@Html.Partial("Partials/News")

@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Scripts/MainApp")
<div id="app"></div>