
@*@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@
@*@Scripts.Render("~/bundles/kendo")

@Html.Partial("Partials/Layout")
@Html.Partial("Partials/Index")
@Html.Partial("Partials/About")
@Html.Partial("Partials/Contacts")
@Html.Partial("Partials/News")
@Html.Partial("Partials/Events")
@Html.Partial("Partials/Event")
@Html.Partial("Partials/Organizations")
@Html.Partial("Partials/Personal")
@Html.Partial("Partials/Register")
@Html.Partial("Partials/Organization")
@Html.Partial("Partials/NewsItem")
@Html.Partial("Partials/AdminPage")

@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Scripts/MainApp")*@

@*<script type="text/javascript">
 </script>

<div id="app"></div>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MakeEvent.Web.Models.Organization.EventMvcViewModel>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescripton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescripton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageMimeType)
            </td>
            <td>
                @Html.ActionLink("Details", "Details","Event", new { id = item.Id },null) 
            </td>
        </tr>
    }

</table>
