
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendo")

@Html.Partial("Partials/Layout")
@Html.Partial("Partials/Index")
@Html.Partial("Partials/About")
@Html.Partial("Partials/Contacts")
@Html.Partial("Partials/News")
@Html.Partial("Partials/Events")
@Html.Partial("Partials/Event")
@Html.Partial("Partials/Organizations")
@Html.Partial("Partials/Personal")
@Html.Partial("Partials/Register")
@Html.Partial("Partials/Organization")
@Html.Partial("Partials/NewsItem")

@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Scripts/MainApp")

<script type="text/javascript">
    URLs = {
        // Организации
        registerOrganization: '@Url.Content("~/organization/register")'
    };
 </script>

<div id="app"></div>