@model IEnumerable<MakeEvent.Web.Models.Organization.OrganizationMvcViewModel>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col s12 m5">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="crdImg" src="@Url.Action("GetImage", "Organization",
                        new { id = item.OwnerId })" />

                </div>
                <div class="card-content">
                    <p>@Html.DisplayFor(model => item.Name)</p>
                    <p>
                        @Html.DisplayFor(model => item.Description)
                    </p>
                    <p>
                        <a href="@Html.DisplayFor(model => item.Website)">@Html.DisplayFor(model => item.Website)</a>
                    </p>
                </div>
                    <div class="card-action">
                        <button class="btn deep-purple lighten-1  btn-sm btn-default">
                            @Html.ActionLink(Localization.BtnDetailsText, "Organization", new { id = item.OwnerId })
                             <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
}