@model MakeEvent.Web.Models.Common.OrgWithCommentsMvcViewModel
<div class="main-page">
    <div class="panel panel-default  hoverable">
        <div class="panel-heading">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="panel-body">
            <div class="form-group">
                @if (Model.ImageData == null)
                {
                    <div class="form-control-static">@Localization.LabelNoPicture</div>
                }
                else
                {
                    <img class="img-thumbnail" width="250" height="250"
                         src="@Url.Action("GetImage", "Organization",
                        new { id = Model.OwnerId })" />
                }
            </div>
          <table class="table striped">
              <tr>
                  <td>
                      @Html.DisplayNameFor(model => model.City)
                  </td>
                  <td>
                      @Html.DisplayFor(model => model.City)
                  </td>
              </tr>
              <tr>
                  <td>
                      @Html.DisplayNameFor(model => model.Street)
                  </td>
                  <td>
                      @Html.DisplayFor(model => model.Street)
                  </td>
              </tr>
              <tr>
                  <td>
                      @Html.DisplayNameFor(model => model.Office)
                  </td>

                  <td>
                      @Html.DisplayFor(model => model.Office)

                  </td>
              </tr>
              <tr>
                  <td>
                      @Html.DisplayNameFor(model => model.Website)
                  </td>
                  <td>
                      @Html.DisplayFor(model => model.Website)
                  </td>
              </tr>
              <tr>
                  <td>
                      @Html.DisplayNameFor(model => model.Description)
                  </td>
                  <td>
                      @Html.DisplayFor(model => model.Description)
                  </td>
              </tr>
          </table>
        </div>
    </div> 
  
    <h5>@Localization.HeaderComments</h5>
    @foreach (var item in Model.Comments)
    {
        <div class="panel panel-default  hoverable">
            <div class="panel-heading">
                @Html.DisplayFor(model => item.AuthorName)
            </div>
            <div class="panel-body">
              @Html.DisplayFor(model => item.Text)
            </div>
        </div> 
    }
    <button class="btn indigo darken-1 showCommentForm">
    @Localization.ShowCommentForm
    <span class="glyphicon glyphicon-pencil"></span></button>
    @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { id = "commentform" }))
    {
        <h5>@Localization.HeaderLeaveComment</h5>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Comment.AuthorName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment.AuthorName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comment.AuthorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment.AuthorEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment.AuthorEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comment.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment.Text, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Comment.OrganizationId)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="javascript:document.getElementById('commentform').submit()" class="btn indigo darken-1 btn-sm btn-default">
                        @Localization.BtnCreateText
                        <span class="glyphicon glyphicon-send"></span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#commentform').hide();
        $('.showCommentForm').click(function () {
            if ($('#commentform').css('display') == 'none') {
                $('#commentform').show();
            }
            else {
                $('#commentform').hide();
            }
        });
    })
</script>