@model MakeEvent.Web.Models.LoggedUserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendo")
<script>
 URLs = {
        // Администратор: Новости
        saveNews: '@Url.Content("~/api/news/save")',
        getNews:  '@Url.Content("~/api/news/all")',
        getNewsLocalization: '@Url.Content("~/api/news/getlocalization")',
        deleteNews: '@Url.Content("~/api/news/delete")',

        // Администратор:  Страницы
        savePageLocalization: '@Url.Content("~/api/page/savelocalization")',
        getPageLocalization: '@Url.Content("~/api/page/getlocalization")',

        // Администратор: Категории мероприятий
        saveEventCategory:  '@Url.Content("~/api/eventcategory/save")',
        getEventCategories: '@Url.Content("~/api/eventcategory/all")',
        getEventCategoryLocalization: '@Url.Content("~/api/eventcategory/getlocalization")',
        deleteEventCategory: '@Url.Content("~/api/eventcategory/delete")'
 };
</script>
<div id="app">

</div>
<script id="layout" type="text/x-kendo-template">
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
            <img src="/Content/images/admin-ico.png" />
        </li>
        <li class="bold">
            <a href="#categories" class="waves-effect waves-teal">Категории</a>
        </li>
        <li class="bold">
            <a href="#news" class="waves-effect waves-teal">Новости</a>
        </li>
        <li class="bold">
            <a href="#pages" class="waves-effect waves-teal">Страницы</a>
        </li>
    </ul>
    <div id="page">

    </div>
</script>

@Html.Partial("Partials/News")
@Html.Partial("Partials/Pages")
@Html.Partial("Partials/Categories")
@Scripts.Render("~/Scripts/adminApp")