<!DOCTYPE html>
<html>
<head>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/materialize")
    @Styles.Render("~/Content/admin")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Админ панель</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Категории", "Index", "Category")</li>
                    <li>@Html.ActionLink("Новости", "Index", "News")</li>
                    <li>@Html.ActionLink("Страницы", "Index", "Page")</li>
                    <li>@Html.ActionLink("Выйти", "Logoff", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/materialize")
</body>
</html>

