<!DOCTYPE html>
<html>
<head>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materialize")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/materialize")
    @Styles.Render("~/Content/admin")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logoff", "Admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        { }
    }
    <nav class="navbar navbar-default  indigo darken-3 navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">@Localization.AdminHeaderTitle</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(Localization.AdminHeaderLinkCategories, "Index", "Category")</li>
                    <li>@Html.ActionLink(Localization.AdminHeaderLinkNews, "Index", "News")</li>
                    <li>@Html.ActionLink(Localization.AdminHeaderLinkPages, "Index", "Page")</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@Localization.HeaderLogoff</a></li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="lang-content">
                            @Localization.HeaderLinkLanguage
                        </a>
                    </li>
                </ul>

                <ul id="lang-content" class="dropdown-content">
                    <li><a href="#" onclick="changeLanguage(2); return false;">@Localization.LangRu</a></li>
                    <li><a href="#" onclick="changeLanguage(1); return false;">@Localization.LangEn</a></li>
                </ul>
                <div style="display: none;">
                    @using (Html.BeginForm("SetLanguage", "Home", new { returnUrl = Request.RawUrl }, FormMethod.Post, new { id = "change-language-form" }))
                    {
                        <input id="language" name="language" value="2" />
                    }
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="white-text">@Localization.HeaderLinkApplication</h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
                <div class="col-md-3">
                    <h5 class="white-text">@Localization.HeaderLinks</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">@Localization.HeaderLinkAbout</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">@Localization.HeaderLinkHelp</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">@Localization.HeaderLinkEvents</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">@Localization.HeaderLinkOrganizations</a></li>
                    </ul>
                </div>
                <div class="">
                    <h5 class="white-text">@Localization.HeaderLinkSocial</h5>
                    <a class="btn btn-social-icon btn-google">
                        <span class="fa fa-google"></span>
                    </a>
                    <a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
                    <a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                    <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                    <a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                @DateTime.Now.Year - @Localization.LabelRightsReserved
                <a class="grey-text text-lighten-4 right" href="#!">@Localization.HeaderLinkHome</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;
            $('.navbar .nav').find('.active').removeClass('active');
            $('.navbar .nav li a').each(function () {
                if (this.href == url) {
                    $(this).parent().addClass('active');
                }
            });

            $(".dropdown-button").dropdown({
                belowOrigin: true,
                constrain_width: false
            });
        });

        function changeLanguage(languageId) {
            $("#language").val(languageId);
            $("#change-language-form").submit();
        }
    </script>
</body>
</html>
