<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    @Styles.Render("~/Content/materialize")
    @Styles.Render("~/Content/admin")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
</body>
</html>

