@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Organization", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Events", "Index", "Event", new { orgId = User.Identity.GetUserId() }, null)
            </li>
            <li>
                @Html.ActionLink("Tickets", "Index", "Ticket", new { orgId = User.Identity.GetUserId() }, null)
            </li>
            <li>
                @Html.ActionLink("SoldTickets", "SoldList", "Ticket", new { orgId = User.Identity.GetUserId() }, null)
            </li>
            <li>
                @Html.ActionLink("Comments", "Index", "Comments", new { orgId = User.Identity.GetUserId() }, null)
            </li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Organization", new { id = User.Identity.GetUserId() }, null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></li>
        </ul>
 }
}



