@model MakeEvent.Web.Models.Admin.CommentMvcViewModel
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<h3>@Localization.MessageConfirmDelete</h3>
<table class="table highlight">
    <tr>
        <td>
            <label> @Html.DisplayNameFor(model => model.AuthorName)</label>
        </td>
        <td>
            @Html.DisplayFor(model => model.AuthorName)
        </td>
    </tr>
    <tr>
        <td><label>@Html.DisplayNameFor(model => model.AuthorEmail)</label></td>
        <td>@Html.DisplayFor(model => model.AuthorEmail)</td>
    </tr>
    <tr>
        <td><label>@Html.DisplayNameFor(model => model.Text)</label></td>
        <td>@Html.DisplayFor(model => model.Text)</td>
    </tr>
    <tr>
        <td><label>@Html.DisplayNameFor(model => model.CreatedDate)</label></td>
        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
    </tr>
</table>

    @using (Html.BeginForm())
    {<button class="btn deep-purple lighten-1  btn-sm btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        @Html.ActionLink(Localization.BtnBackText, "Index")
    </button>
                    <button type="submit" class="btn indigo darken-1 btn-sm btn-default">
                        @Localization.BtnDeleteText
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
    }
