@model MakeEvent.Web.Models.Admin.CommentMvcViewModel
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Localization.BtnEditText, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Localization.BtnBackText, "Index")
</p>
