@model MakeEvent.Web.Models.Organization.EventMvcViewModel
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<h3>@Localization.MessageConfirmDelete</h3>
<div class="col-md-6">
    <div class="card hoverable">
        @if (Model.ImageData != null && Model.ImageData.Length > 0)
        {
            <img src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)" style="max-height: 400px; max-width: 400px;" />
        }
        <div class="card-content">
            <label class="event-title">@Html.DisplayFor(m => Model.Name)</label>
            <p class="event-date">@Html.DisplayFor(m => Model.StartDate) - @Html.DisplayFor(m => Model.EndDate)</p>
            <p class="event-adress">
                @Html.DisplayFor(m => Model.City)
                @Html.DisplayFor(m => Model.Street)
                @Html.DisplayFor(m => Model.Office)
            </p>
            <p class="event-description">@Html.DisplayFor(m => Model.Description)</p>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="form-actions no-color">
        <button type="submit" class="btn indigo darken-1 btn-sm btn-default">
            @Localization.BtnDeleteText
            <span class="glyphicon glyphicon-send"></span>
        </button>
        <button class="btn deep-purple lighten-1  btn-sm btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            @Html.ActionLink(Localization.BtnBackText, "Index")
        </button>
    </div>
}

