@model MakeEvent.Web.Models.Organization.OrganizationMvcViewModel
@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
}
<div class="main-page">
    <div class="form-group">
        @if (Model.ImageData == null)
        {
            <div class="form-control-static">@Localization.LabelNoPicture</div>
        }
        else
        {
            <img class="img-thumbnail" width="150" height="150"
                 src="@Url.Action("GetImage", "Organization", new { id = Model.OwnerId })" />
        }
    </div>

    <table class="table hoverable">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.BillNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.BillNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Street)
            </td>
            <td>
                @Html.DisplayFor(model => model.Street)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Office)
            </td>

            <td>
                @Html.DisplayFor(model => model.Office)

            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Website)
            </td>
            <td>
                @Html.DisplayFor(model => model.Website)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>


            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    <button type="submit" class="btn indigo darken-1 btn-sm btn-default">
        @Html.ActionLink(Localization.BtnEditText, "Edit", new { Id = Model.OwnerId })
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</div>
